* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  display: grid;
  height: 100vh;
  place-items: center;
  background: #00191f;
}
.container {
  width: 20rem;
  margin: auto;
  text-align: center;
  box-shadow: 60px 60px 60px #ff1100, -60px -60px 60px #ff1100;
  border-radius: 10px;
  position: relative;
}
textarea {
  width: 90%;
  resize: none;
  height: 10rem;
  background: #000000;
  outline: none;
  padding: 1rem 0.6rem;
  margin-bottom: 2rem;
  color: #fff;
  font-family: sans-serif;
  font-size: 1rem;
  border: transparent;
}
.title {
  text-align: center;
  font-size: 1.2rem;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
.status {
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #4c4c4c;
  display: none;
  font-size: 0.8rem;
  border-radius: 0 0 10px 10px;
  /* opacity: 0;*/
  background: #f9feff;
  transition: 1s;
}
@media (max-width: 20rem) {
  .container {
    width: 100%;
  }
}

/* You may change the colors here , check the class in index.html and then change */ 
